<h2>Your Collections <%= link_to 'New Collection', new_collection_path, class:'btn btn-success' %> </h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Exercises</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @collections.each do |collection| %>
      <% if collection.user === current_user %>
        <tr>
          <td><%= collection.title %></td>
          <% if collection.exercises %>
            <% collection.exercises.each do |exercise| %>
              <%if exercise%>
                <td><%= link_to exercise.title, exercise_path(exercise) %></td>
              <% end %>
            <% end %>
          <% else%>
            <td> <%= 'No exercises added' %></td>
          <% end %>
          <td><%= link_to 'Edit', edit_collection_path(collection), class:'btn btn-warning btn-xs' %></td>
          <td><%= link_to 'Destroy', collection, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-xs' %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
