<div class="login_form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <%= form_tag do %>
      <legend>Please Log In</legend>

      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><%= label_tag :email, 'Email:', style:'width: 100px' %></span>
        <%= text_field_tag :email, params[:email], type:'text', class:'form-control', placeholder:'Email' %>
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><%= label_tag :password, 'Password:', style:'width: 100px' %></span>
        <%= password_field_tag :password, params[:password], type:'text', class:'form-control', placeholder:'Password' %>
      </div>

        <%= submit_tag "Login", class:'btn btn-default', style:'margin-top: 20px' %>
  <% end %>
</div>
