<%= form_tag exercise_comments_path(@exercise), method: 'get' do %>

  <h1>Comments for: <%=@exercise.title %></h1>

  <div class="input-group col-md-6" style="margin-top: 40px; margin-bottom: 20px">
    <%= text_field_tag :search, params[:search], class:"form-control", type:"text", placeholder: 'Search for comment' %>
    <span class="input-group-btn">
      <%= submit_tag "Search", name: nil, class:"btn btn-default" %>
    </span>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Text</th>
        <th>User</th>
        <th>Created at</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.text %></td>
          <% if comment.user.first_name.nil? %>
            <td><%= "User#{comment.user.id}"%></td>
          <% else %>
            <td><%= comment.user.name %></td>
          <% end %>
          <td><%= comment.created_at %>
          <td><div class="actions btn-group" role="group">
            <% if comment.user === current_user or current_user.role === 'admin' %>
              <%= link_to 'Edit', edit_exercise_comment_path(@exercise, comment), class:'btn btn-warning btn-xs' %>
              <%= link_to 'Delete', exercise_comment_path(@exercise, comment), class:'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' }  %>
            <% end %>
          </div></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Comment', new_exercise_comment_path(@exercise), class:'btn btn-success' %>
<% end %>
