<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<table class="table">
  <thead>
    <tr>
      <th>Text</th>
      <th>Exercise</th>
      <th>User</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.text %></td>
        <td><%= link_to comment.exercise.title, exercise_path(comment.exercise) %></td>
        <td><%= link_to comment.user.email, user_path(comment.user) %></td>
        <td><div class="actions btn-group" role="group">
          <%= link_to 'Show', comment, class:'btn btn-default btn-xs' %>
          <%= link_to 'Edit', edit_comment_path(comment), class:'btn btn-default btn-xs' %>
          <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-xs' %>
        </div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path, class:'btn btn-primary' %>
