<p>
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<p>
  <strong>Exercise:</strong>
  <%= @comment.exercise.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user.email %>
</p>

<p>
  <strong>created at:</strong>
  <%= @comment.created_at%>
</p>

<div class="actions btn-group" role="group">
  <%if can? :edit, @comment%>
    <%= link_to 'Edit', edit_exercise_comment_path(@exercise, @comment), class:'btn btn-warning' %>
  <% end %>
  <%= link_to 'Back', exercise_comments_path(@exercise, @comment), class:'btn btn-default' %>
</div>
