<p>
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<p>
  <strong>Exercise:</strong>
  <%= @comment.exercise.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user.email %>
</p>

<p>
  <strong>created at:</strong>
  <%= @comment.created_at%>
</p>


<%= link_to 'Edit', edit_exercise_comment_path(@exercise, @comment), class:'btn btn-default btn-xs' %> |
<%= link_to 'Back', exercise_comments_path %>
