<p id="notice"><%= notice %></p>

<h1>Listing Exercise Files</h1>

<table>
  <thead>
    <tr>
      <th>Main</th>
      <th>Content</th>
      <th>Path</th>
      <th>Solution</th>
      <th>Filetype</th>
      <th>Exercise</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercise_files.each do |exercise_file| %>
      <tr>
        <td><%= exercise_file.main %></td>
        <td><%= exercise_file.content %></td>
        <td><%= exercise_file.path %></td>
        <td><%= exercise_file.solution %></td>
        <td><%= exercise_file.filetype %></td>
        <td><%= exercise_file.exercise %></td>
        <td><%= link_to 'Show', exercise_file %></td>
        <td><%= link_to 'Edit', edit_exercise_file_path(exercise_file) %></td>
        <td><%= link_to 'Destroy', exercise_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exercise file', new_exercise_file_path %>
