<p id="notice"><%= notice %></p>

<p>
  <strong>Main:</strong>
  <%= @exercise_file.main %>
</p>

<p>
  <strong>Content:</strong>
  <%= @exercise_file.content %>
</p>

<p>
  <strong>Path:</strong>
  <%= @exercise_file.path %>
</p>

<p>
  <strong>Solution:</strong>
  <%= @exercise_file.solution %>
</p>

<p>
  <strong>file_extension:</strong>
  <%= @exercise_file.file_extension %>
</p>

<p>
  <strong>Exercise:</strong>
  <%= @exercise_file.exercise %>
</p>

<%= link_to 'Edit', edit_exercise_file_path(@exercise_file) %> |
<%= link_to 'Back', exercise_files_path %>
