<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @execution_environment.language %>
</p>

<p>
  <strong>Version:</strong>
  <%= @execution_environment.version %>
</p>

<%= link_to 'Edit', edit_execution_environment_path(@execution_environment) %> |
<%= link_to 'Back', execution_environments_path %>
