<h2 style="text-align: center"><%= 'Your exercise has successfully been exported to ...'%> </h2>
<h4 style="text-align: center"><em><%= 'codeocean.openhpi.de/theresazobel'%></em> </h4>

<div style="text-align: center; margin-top: 50px">
  <%= link_to 'Search for Exercises', exercises_path, class:'btn btn-primary' %>
  <%= link_to 'Create Exercise', new_exercise_path, class:'btn btn-success'%>
  <%= link_to 'Update Your Profile', edit_user_path(current_user), class:'btn btn-warning'%>
</div>
