<p id="notice"><%= notice %></p>

<h1>Listing Testing Frameworks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testing_frameworks.each do |testing_framework| %>
      <tr>
        <td><%= testing_framework.name %></td>
        <td><%= link_to 'Show', testing_framework %></td>
        <td><%= link_to 'Edit', edit_testing_framework_path(testing_framework) %></td>
        <td><%= link_to 'Destroy', testing_framework, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testing framework', new_testing_framework_path %>
