<h1>User Administration <%= link_to 'New User', new_user_path, class:'btn btn-success' %> </h1>

<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td class="actions btn-group" role="group">
          <%= link_to 'Show', user, class:'btn btn-default btn-xs' %>
          <%= link_to 'Edit', edit_user_path(user), class:'btn btn-warning btn-xs' %>
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
