<%- model_class = User -%>
<div class="page-header">
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
</div>


<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt><%= 'First Name' %>:</dt>
  <dd><%= @user.first_name %></dd>
  <dt><%= 'Last Name' %>:</dt>
  <dd><%= @user.last_name %></dd>
  <dt><%= 'Email' %>:</dt>
  <dd><%= @user.email %></dd>
</dl>
<dl class="dl-horizontal">
  <dt><%= 'Account Links'%> </dt>
  <dd><%= link_to 'Add Account Link', new_user_account_link_path(@user), class:'btn btn-default btn-xs' %></dd>
  <% @user.account_links.each do |account_link| %>
    <dd>
      <dt style="margin-top: 10px"><%= 'Links'%>: </dt>
      <dd style="margin-top: 10px"><%= account_link.readable %> </dd>
      <dt style="margin-top: 5px"> <%= 'Actions'%>: </dt>
      <dd class="actions btn-group" role="group" style="margin-top: 5px; margin-left: 20px;">
        <%= link_to 'Show', user_account_link_path(account_link.user, account_link), class:'btn btn-default btn-xs' %>
        <%= link_to 'Edit', edit_user_account_link_path(account_link.user, account_link), class:'btn btn-default btn-xs' %>
        <%= link_to 'Destroy', user_account_link_path(account_link.user, account_link), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-xs' %>
      </dd>

    </dd>
  <% end %>
</dl>


<div class="actions btn-group" role="group">
  <%= link_to 'Edit', edit_user_path(@user), class:'btn btn-default' %>
</div>
