<% @exercises.each do |exercise| %>
  <div class="panel panel-default" style="margin-top: 40px">
   <div class="panel-heading">
       <h3 class="panel-title"> <span><%= link_to exercise.title, exercise_path(exercise) %></span>
            <span class="star-rating pull-right">
              <% [*1..5].each do |i| %>
                <a href="/exercises/<%= exercise.id %>/ratings?rating[rating]=<%= i %>" data-method="post">
                  <% if exercise.round_avg_rating >= i %>
                    <span class="fa fa-star" data-rating="<%= i %>"></span>
                  <% elsif (exercise.round_avg_rating + 0.5) >= i %>
                    <span class="fa fa-star-half-o" data-rating="<%= i %>"></span>
                  <% else %>
                    <span class="fa fa-star-o" data-rating="<%= i %>"></span>
                  <% end %>
                </a>
              <% end %>
              <small><%= exercise.ratings.count %> ratings</small>
              <input type="hidden" name="whatever" class="rating-value" value="3">
            </span>
       </h3>
   </div>

    <div class="panel-body">

      <div class="col-md-10">
        <%= exercise.descriptions.first.text %>
      </div>

      <div class="btn-group-vertical pull-right" role="group" aria-label="...">
        <%= link_to 'Select', exercise_path(exercise), class:'btn btn-default' %>
        <%= link_to 'Show Comments', exercise_comments_path(exercise), class:'btn btn-default' %>
        <% if can? :create, exercise %>
            <%= link_to 'Duplicate', duplicate_exercise_path(exercise), class:'btn btn-default' %>
        <% end %>
        <% if can? :edit, exercise %>
            <%= link_to 'Edit', edit_exercise_path(exercise), class:'btn btn-default' %>
            <%= link_to 'Delete', exercise_path(exercise), class:'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' }  %>
        <% end %>
      </div>

      <div class="col-md-6" style="margin-top: 60px">
        <% exercise.labels.each do |label| %>
            <div class="exerciseLabel" style="background-color: <%= '#' + label.color.to_s %>; color: white;"> <%= label.name %> </div>
        <% end %>
      </div>

    </div>


 </div>
<% end %>


<%= will_paginate @exercises %>

