<% @exercises.each do |exercise| %>
 <div id="exercise">
  <h2><%= exercise.title %></h2>
  
  <div id="rating">
   <p>
    <% if exercise.avg_rating == 0 %>
     no ratings
    <% else %>
     <% 1.upto(5) do |i| %>
      <% if i < exercise.avg_rating %>
       <%= image_tag("star1.png", width: "15", height: "15") %>
      <% else %>
       <%= image_tag("star2.png", width: "15", height: "15") %>
      <% end %>
     <% end %>
     (<%= exercise.avg_rating %>)
    <% end %>
   </p>
  </div>



 </div>
<% end %>


<%= will_paginate @exercises %>