<%= form_tag home_index_path, method: 'get' do %>
  <div class="col-md-12">
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", name: nil %>
  <%= link_to 'New Exercise', new_exercise_path %>
  </div>
<% end %>

<div id="exercises"><%= render 'exercises' %></div>
