<p id="notice"><%= notice %></p>

<h1>Listing Ratings</h1>

<table class="table">
  <thead>
    <tr>
      <th>Rating</th>
      <th>Exercise</th>
      <th>User</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.rating %></td>
        <td><%= link_to rating.exercise.title, exercise_path(rating.exercise) %></td>
        <td><%= link_to rating.user.email, user_path(rating.user) %></td>
        <td><div class="actions btn-group" role="group">
        <%= link_to 'Show', rating, class:'btn btn-default btn-xs' %>
        <%= link_to 'Edit', edit_rating_path(rating), class:'btn btn-default btn-xs' %>
        <%= link_to 'Destroy', rating, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-xs' %>
        </div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rating', new_rating_path, class:'btn btn-primary' %>
