<div class="page-header">
  <h1><%= 'Rating: ' + @rating.exercise.title %></h1>
</div>

<dl class="dl-horizontal">
  <dt><%= 'Rating' %>:</dt>
  <dd><%= @rating.rating %></dd>
  <dt><%= 'Rating from' %>:</dt>
  <dd><%= @rating.user.email %></dd>
</dl>


<div class="actions btn-group" role="group">
  <%= link_to 'New', new_rating_path,  class: 'btn btn-default' %>
  <%= link_to 'Back', exercises_path,  class: 'btn btn-default' %>

</div>

