<%= form_for(@cart) do |f| %>
  <% if @cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
      <% @cart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @cart.persisted?%>
    <dl class="dl-horizontal col-md-12">
      <dt>Exercises</dt>
        <% if @cart.user === current_user %>
            <% if @cart.exercises %>
                <% @cart.exercises.each do |exercise| %>
                    <dd><%= link_to exercise.title, exercise_path(exercise) %></dd>
                    <dd><%= link_to 'Delete', @cart.exercises.delete(exercise), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-xs' %></dd>
                <% end %>
            <% else%>
                <dd> <%= 'No exercises added' %></dd>
            <% end %>
        <% end %>
    </dl>
  <% end %>

  <div class="actions">
    <%= f.submit nil, class:'btn btn-primary' %>
  </div>
<% end %>
