<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3><%= t('tasks.access_request_mailer.greeting', user: @author.name) %></h3>
<p>
  <%= t('tasks.access_request_mailer.message_line1', user: @user.name, task: @exercise.title) %> <br/>
  <%= t('tasks.access_request_mailer.message_line2') %> <br/>
  <%= t('tasks.access_request_mailer.message_line3') %> <br/>
  <br/>
  <%= link_to t('common.app_name'), user_messages_url(@author)%>
</p>
</body>
</html>
