<p id="notice"><%= notice %></p>

<h1>Listing Label Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @label_categories.each do |label_category| %>
      <tr>
        <td><%= label_category.name %></td>
        <td><%= link_to 'Show', label_category %></td>
        <td><%= link_to 'Edit', edit_label_category_path(label_category) %></td>
        <td><%= link_to 'Destroy', label_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Label category', new_label_category_path %>
