<div class="field">
  <%= f.label :main %><br>
  <%= text_field_tag :main %>
</div>
<div class="field">
  <%= f.label :content %><br>
  <div class="edit">
    <div class="editor"><%= file.text_area :content %></div>
    <%= file.text_area :content, class:'hidden'%>
  </div>
</div>
<div class="field">
  <%= f.label :path %><br>
  <%= text_field_tag :path %>
</div>
<div class="field">
  <%= f.label :solution %><br>
  <%= text_field_tag :solution %>
</div>
<div class="field">
  <%= f.label :filetype %><br>
  <%= text_field_tag :filetype %>
</div>
