<div class="field">
  <%= f.label :main %><br>
  <%= text_field_tag file.id.to_s+'[main]', file.main %>
</div>
<div class="field">
  <%= f.label :content %><br>
  <div class="edit">
    <div class="editor"><%= file.content %></div>
    <textarea class="hidden" name="<%= file.id %>[content]" style="width: 300px; height: 500px;"><%= file.content %></textarea>
    hjhjgghjkhjghjg
  </div>
</div>
<div class="field">
  <%= f.label :path %><br>
  <%= text_field_tag file.id.to_s+'[path]', file.path %>
</div>
<div class="field">
  <%= f.label :solution %><br>
  <%= text_field_tag file.id.to_s+'[solution]', file.solution %>
</div>
<div class="field">
  <%= f.label :filetype %><br>
  <%= text_field_tag file.id.to_s+'[filetype]', file.filetype %>
</div>