<div class="field">
  <%= f.label :main %><br>
  <%= file.text_field :main %>
</div>
<div class="field">
  <%= f.label :content %><br>
  <div class="edit">
    <div class="editor"><%= file.text_area :content %></div>
    <%= file.text_area :content, class:'hidden'%>
  </div>
</div>
<div class="field">
  <%= f.label :path %><br>
  <%= file.text_field :path %>
</div>
<div class="field">
  <%= f.label :solution %><br>
  <%= file.text_field :solution %>
</div>
<div class="field">
  <%= f.label :filetype %><br>
  <%= file.text_field :filetype %>
</div>
