<div class="col-md-12">
<%= form_for @exercise, html: { class: 'form-horizontal project' } do |f| %>
      <% if @exercise.errors.any? %>
          <div id='error_explanation' class='panel panel-danger'>
            <div class='panel-heading'>
              <h3 class='panel-title'>
                <%= pluralize(@exercise.errors.count, 'error') %> <%= 'prohibited_this_project_from_being_saved' %>
              </h3>
            </div>
            <div class='panel-body'>
              <ul>
                <% @exercise.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          </div>
      <% end %>

  <div class="form-group">
    <%= f.label :title, class:'control-label' %><br>
    <div class="controls">
      <%= f.text_field :title, class:'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :execution_environment, class:'control-label' %><br>
    <div class="controls">
    <%= f.collection_select :execution_environment_id, ExecutionEnvironment.all, :id, :language %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :descriptions, class:'control-label' %><br>
    <%= f.nested_fields_for :descriptions do |description| %>
        <div class="controls" style="margin-top: 10px; margin-bottom: 10px">
          <%= description.text_area :text, class:'form-control' %>
          <%= description.remove_nested_fields_link 'Remove Description', class:'btn btn-danger btn-xs' %>
          <div class="field">
            <%= f.label :language %><br>
            <%= description.collection_select :language, Description::LANGUAGES, :to_s, :to_s, include_blank: false %>
          </div>
        </div>
    <% end %>
    <%= f.add_nested_fields_link :descriptions, 'Add Description', class:'btn btn-success' %>
  </div>



  <div class="form-group">
    <%= f.label :visibility,  class: 'control-label' %>
    <div class='radio'>
      <div class='col-md-2'>
        <div style='margin-left: 20px'> <%= f.radio_button :private, true, value: true%>
          <%= label :private, 'private '%>
        </div>
      </div>
      <div class='col-md-2'>
        <div style='margin-left: 20px'> <%= f.radio_button :private, false, value: false%>
          <%= label :private, 'public'%>
        </div>
      </div>
    </div>
  </div>
  <h4>Files:</h4>
  <%= f.nested_fields_for :exercise_files do |file| %>
    <%= render 'file_form', f: f, file: file %>
    <%= file.remove_nested_fields_link 'Remove File', class:'btn btn-danger btn-xs' %>
    <br><br>
  <% end %>
  <%= f.add_nested_fields_link :exercise_files, 'Add File', class:'btn btn-success', id: 'addFileButton' %>

  <h4>Tests:</h4>
  <%= f.nested_fields_for :tests do |test| %>
    <%= render 'test_form', f: f, test: test %>
    <%= test.remove_nested_fields_link 'Remove Test', class:'btn btn-danger btn-xs' %>
    <br><br>
  <% end %>
  <%= f.add_nested_fields_link :tests, 'Add Test', class:'btn btn-success', id: 'addTestButton' %>
  <br><br>

  <div class="actions btn-group" role="group">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn btn-danger' %>
  </div>
<% end %>
</div>
