<div class="col-md-12">
<%= form_for @exercise, html: { class: 'form-horizontal project' } do |f| %>
      <% if @exercise.errors.any? %>
          <div id='error_explanation' class='panel panel-danger'>
            <div class='panel-heading'>
              <h3 class='panel-title'>
                <%= pluralize(@exercise.errors.count, 'error') %> <%= 'prohibited_this_project_from_being_saved' %>
              </h3>
            </div>
            <div class='panel-body'>
              <ul>
                <% @exercise.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          </div>
      <% end %>

  <div class="form-group">
    <%= f.label :title, class:'control-label' %><br>
    <div class="controls">
      <%= f.text_field :title, class:'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, class:'control-label' %><br>
    <div class="controls">
      <%= f.text_area :description, class:'form-control' %>
    </div>
  </div>

  <% if @exercise.persisted? %>
    <div class="col-md-12">
      <div class="col-md-3">
        <input type="button" id="add_description" class="btn btn-success" value="Add Description" style="margin-left: -40px">
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :public,  class: 'control-label' %>
    <div class='radio'>
      <div class='col-md-2'>
        <div style='margin-left: 20px'> <%= f.radio_button :public, true, value: true%>
          <%= label :public, 'public '%>
        </div>
      </div>
      <div class='col-md-2'>
        <div style='margin-left: 20px'> <%= f.radio_button :public, false, value: false%>
          <%= label :public, 'private'%>
        </div>
      </div>
    </div>
  </div>

  <h2>Files:</h2>

  <% @exercise.exercise_files.each do |file| %>
    <%= render 'file_form', f: f, file: file %>
    <br>
  <% end %>

  <h2>Tests:</h2>

  <% @exercise.tests.each do |test| %>
    <%= render 'test_form', f: f, test: test %>
    <br>
  <% end %>


  <div class="actions btn-group" role="group">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <% if @exercise.persisted? %>
        <%= link_to 'Show', exercise_path(@exercise), class: 'btn btn-default' %>
        <%= link_to 'Back', exercises_path, class: 'btn btn-default' %>
    <% else %>
        <%= link_to 'Back', exercises_path, class: 'btn btn-default' %>
    <% end %>
  </div>
<% end %>
</div>
