<div class="field">
  <%= f.label :content %><br>
  <div class="edit">
    <div class="editor"><%= test.text_area :content %></div>
    <%= test.text_area :content, class:'hidden'%>
  </div>
</div>
<div class="field">
  <%= f.label :feedback_message %><br>
  <%= test.text_field :feedback_message, size:80 %>
</div>
<div class="field">
  <%= f.label :testing_framework %><br>
  <%= test.collection_select :testing_framework_id, TestingFramework.all, :id, :name %>
</div>
