
<%- model_class = Exercise -%>
<div class="page-header">
  <h1><%= @exercise.title %></h1>
</div>

<dl class="dl-horizontal">
  <dt><%= 'Title' %>:</dt>
  <dd><%= @exercise.title %></dd>
  <dt><%= 'Description' %></dt>
  <dd><%= @exercise.description %></dd>
  <dt><%= 'Visibility' %>:</dt>
  <dd><%= @exercise.public ? 'public' : 'private' %></dd>
</dl>

<dl class="dl-horizontal">

    <dt><em><%= 'Files' %>:</em> </dt>
    <% @files.each do |file| %>
      <br>
      <dd>
        <dt><%= 'Content: '%></dt>
        <dd><div class="editor"><%= file.content %></div></dd>
        <dt><%= 'Mainfile: '%></dt>
        <dd><%= file.main %></dd>
        <dt><%= 'Path: '%></dt>
        <dd><%= file.path %></dd>
        <dt><%= 'Filetype: '%></dt>
        <dd><%= file.filetype %></dd>
        <dt><%= 'Solution File: '%></dt>
        <dd><%= file.solution %></dd>
      </dd>
      <br>
  <% end %>
</dl>
<dl class="dl-horizontal">
    <dt><em><%= 'Tests' %>:</em> </dt>
    <% @tests.each do |test| %>
      <br>
      <dd>
        <dt><%= 'Content: '%></dt>
        <dd><div class="editor"><%= test.content %></div></dd>
        <dt><%= 'Feedback Message: '%></dt>
        <dd><%= test.feedback_message %></dd>
        <dt><%= 'Testing Framework: '%></dt>
        <dd><%= test.testing_framework.name %></dd>
      </dd>
      <br>
    <% end %>
</dl>

<dl class="dl-horizontal">
  <dt><%= 'Export to ... :' %></dt>
  <dd>
    <%= form_tag(push_external_exercise_path(@exercise), method: "post") do |f| %>

      <%= collection_select(:account_link, :id, AccountLink.all, :id, :account_name, {},  {class: 'btn btn-default dropdown-toggle'}) %>
      <%= button_tag 'Submit', class: 'btn btn-default btn-xs' %>
    <% end %>
  </dd>
</dl>

<div class="actions btn-group" role="group">
  <%= link_to 'Edit', edit_exercise_path(@exercise),  class: 'btn btn-default' %>
  <%= link_to 'Back', exercises_path,  class: 'btn btn-default' %>

</div>

<script>
  ace.config.set('basePath', '/assets/ace/');
  var all = document.getElementsByClassName("editor");
  alert(all[0]);

  for (var i=0, max=all.length; i < max; i++) {
      var editor = ace.edit(all[i]);
      editor.setTheme("ace/theme/twilight");
      editor.getSession().setMode("ace/mode/java");
      all[i].style.fontSize='18px';
  }

</script>

