<p id="notice"><%= notice %></p>

<h1>Exercise:</h1>
<p>
  <strong>Title:</strong>
  <%= @exercise.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exercise.description %>
</p>

<p>
  <strong>Maxrating:</strong>
  <%= @exercise.maxrating %>
</p>

<p>
  <strong>Public:</strong>
  <%= @exercise.public %>
</p>

<h1>Files:</h1>
<% @files.each do |file| %>
<p>
  <strong>Content:</strong>
  <%= file.content %>
</p>
<p>
  <strong>Mainfile:</strong>
  <%= file.main %>
</p>
<p>
  <strong>Path:</strong>
  <%= file.path %>
</p>
<p>
  <strong>Filetype:</strong>
  <%= file.filetype %>
</p>
<p>
  <strong>Solution File:</strong>
  <%= file.solution %>
</p>
<p> ____________ </p>

<% end %>

<%= form_tag(push_external_exercise_path(@exercise), method: "post") do |f| %>

  <%= collection_select(:account_link, :id, AccountLink.all, :id, :account_name) %>

  <%= button_tag %>

<% end %>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
