
<%- model_class = Exercise -%>
<div class="page-header">
  <h1><%= @exercise.title %></h1>
</div>

<dl class="dl-horizontal">
  <dt><%= 'Title' %>:</dt>
  <dd><%= @exercise.title %></dd>
  <% @exercise.descriptions.each do |description|%>
      <dt><%= 'Description in' %> <%= description.language %>:</dt>
      <dd><%= description.text %></dd>
  <% end %>
  <dt><%= 'Visibility' %>:</dt>
  <dd><%= @exercise.private ? 'private' : 'public' %></dd>
  <dt><%= 'Created by' %>:</dt>
  <% if !@exercise.user %>
      <dd><%= 'User undefined' %></dd>
  <% elsif @exercise.user == current_user %>
      <dd><%= 'yourself' %></dd>
  <% elsif @exercise.user.first_name.nil? || current_user.role === 'user'%>
      <dd><%= "User#{@exercise.user.id}"%></dd>
  <% else %>
      <dd><%= @exercise.user.name %></dd>
  <% end %>
  <dt><%= 'Created at' %>:</dt>
  <dd><%= @exercise.created_at %></dd>
</dl>

<dl class="dl-horizontal">

    <dt><em><%= 'Files' %>:</em> </dt>
    <br>
    <% @files.each do |file| %>
      <% if file.purpose != 'test' %>
        <dd>
          <dt><%= 'Content: '%></dt>
          <dd><div class="editor_readonly"><%= file.content %></div></dd>
          <dt><%= 'Mainfile: '%></dt>
          <dd><%= file.main %></dd>
          <dt><%= 'Path: '%></dt>
          <dd><%= file.path %></dd>
          <dt><%= 'file_extension: '%></dt>
          <dd><%= file.file_extension %></dd>
          <dt><%= 'Solution File: '%></dt>
          <dd><%= file.solution %></dd>
        </dd>
        <br>
      <% end %>
  <% end %>
</dl>
<dl class="dl-horizontal">
    <dt><em><%= 'Tests' %>:</em> </dt>
    <br>
    <% @tests.each do |test| %>
      <dd>
        <dt><%= 'Content: '%></dt>
        <dd><div class="editor_readonly"><%= test.exercise_file.content %></div></dd>
        <dt><%= 'Feedback Message: '%></dt>
        <dd><%= test.feedback_message %></dd>
        <dt><%= 'Testing Framework: '%></dt>
        <dd><%= test.testing_framework.name %></dd>
      </dd>
      <br>
    <% end %>
</dl>

<% if can? :export, Exercise%>
  <dl class="dl-horizontal">
    <dt><%= 'Export to ... :' %></dt>
    <dd>
      <%= form_tag(push_external_exercise_path(@exercise), method: "post") do |f| %>

        <% if !current_user.account_links.empty?%>
          <%= collection_select(:account_link, :id, AccountLink.all, :id, :account_name, {},  {class: 'btn btn-default dropdown-toggle'}) %>
          <%= button_tag 'Submit', class: 'btn btn-success btn-xs' %>
        <% else %>
          <%= link_to 'Please define a account link first', new_user_account_link_path(current_user)%>
        <% end %>

      <% end %>
    </dd>

    <dt>or<br><br></dt>
    <dd></dd>
    <dt>Add to cart :</dt>
    <dd>
      <%= button_to 'Add to cart', add_to_cart_path(@exercise), class: 'btn btn-primary btn-xs' %>
    </dd>
  </dl>



<% end %>

<div class="actions btn-group" role="group">
  <% if can? :edit, @exercise %>
    <%= link_to 'Edit', edit_exercise_path(@exercise),  class: 'btn btn-warning' %>
    <%= link_to 'Delete', exercise_path(@exercise), class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }  %>

<% end %>
  <%= link_to 'Back', exercises_path,  class: 'btn btn-default' %>

</div>
