<!DOCTYPE html>
<html>
<head>
  <title>CodeHarbor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top navbar-offset">
    <%= nav_bar fixed: :top, brand: 'Code Harbor', responsive: true do %>
        <%= menu_group do %>
          <% if current_user %>
            <%= menu_item 'Exercises', exercises_path %>
            <%= menu_item 'Collections', collections_path %>
            <%= menu_divider %>
            <% if current_user.role === 'admin' %>
              <%= drop_down 'Admin Panel' do%>
                <%= menu_item 'User Administration', users_path %>
                <%= menu_item 'Exercise Administration', exercises_path %>
                <%= menu_item 'Comments Administration'%>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <%= menu_group pull: :right do %>
            <% if current_user %>
              <% if current_user.cart %>
                <%= menu_item 'Cart (' + current_user.cart_count.to_s + ')', current_user.cart %>
              <% end %>
              <%= menu_item current_user.email, user_path(current_user) %>
              <%= menu_item 'Log out',  logout_path, method: :delete %>
            <% end %>
        <% end %>
    <% end %>
  </nav>

  <div class="container" style="margin-top: 100px">

  <% if flash[:alert] %>
    <p class="flash-error"><font color="red"><%= flash[:alert] %></font></p>
  <% end %>
  <% if flash[:notice] %>
      <p class="flash-notice"><font color="green"><%= flash[:notice] %></font></p>
  <% end %>


    <div class="col-md-12">
      <%= yield %>
    </div>
  </div>


  <%= yield :modals %>

 </body>
</html>
